<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" >
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Spring Boot and SAML</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>You are successfully logged in as <span sec:authentication="name"></span></p>
    <p>Your email address is <span th:text="${emailAddress}"></span>.</p>
    <p>Your authorities are <span sec:authentication="authorities"></span>.</p>
    <h2>All Your Attributes</h2>
    <dl th:each="userAttribute : ${userAttributes}">
        <dt th:text="${userAttribute.key}"></dt>
        <dd th:text="${userAttribute.value}"></dd>
    </dl>

    <form th:action="@{/logout}" method="post">
        <button id="logout" type="submit">Logout</button>
    </form>
    <main class="scene">
    </main>
    <script th:inline="javascript">
		  window.API_BASE_URL = /*[[${apiBaseUrl}]]*/"apiBaseUrl";
    </script>
    <h3>Upload Form</h3>
    <form id="upform" enctype="multipart/form-data">
        <input type="file" name="files" size="50" />
        <button id="upButton" type="button">Upload It</button>
    </form>
    <h3>Commit</h3>
    <form id="commitform">
        <input type="text" name="commit" />
        <button id="commitButton" type="button">Commit</button>
    </form>
    <script th:src="@{/main.js}"></script>
</body>
</html>