<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">
    <script th:inline="javascript">
        window.API_BASE_URL=/*[[${apiBaseUrl}]]*/"apiBaseUrl";
        window.principal={
            userName: /*[[${name}]]*/"name",
            emailAddress: /*[[${emailAddress}]]*/"emailAddress"
        };
    </script>
    <title>Spring Boot and SAML</title>
    <script defer="defer" src="/js/main.65398e6a.js"></script>
    <link href="/css/main.f855e6bc.css" rel="stylesheet">
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
</body>
</html>